In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
import numpy as np
import pandas as pd

In [4]:
path = '/content/drive/MyDrive/Zameen.com_Dataset.csv'
data=pd.read_csv(path)
data.head()

  property_type     price        city  baths   purpose  bedrooms  Total_Area
0         House  45000000  Faisalabad      6  For Sale         5        5445
1         House   7000000  Faisalabad      2  For Sale         4         817
2         House  25000000  Faisalabad      5  For Sale         4        2723
3         House  40000000  Faisalabad      5  For Sale         5        2723
4         House  15000000  Faisalabad      5  For Sale         6        1089

In [5]:
data.shape

(24565, 7)

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24565 entries, 0 to 24564
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   property_type  24565 non-null  object
 1   price          24565 non-null  int64
 2   city           24565 non-null  object
 3   baths          24565 non-null  int64
 4   purpose        24565 non-null  object
 5   bedrooms       24565 non-null  int64
 6   Total_Area     24565 non-null  int64
dtypes: int64(4), object(3)
memory usage: 1.3+ MB

In [7]:
data.isna().sum()

property_type    0
price            0
city             0
baths            0
purpose          0
bedrooms         0
Total_Area       0
dtype: int64

In [8]:
data.drop(columns=['property_type','purpose'],inplace=True)

In [9]:
data['price_per_sqft'] = data['price']/ data['Total_Area']

In [10]:
data['price_per_sqft']

0         8264.462810
1         8567.931457
2         9181.050312
3        14689.680499
4        13774.104683
             ...
24560     8082.292432
24561     9641.873278
24562     8907.254362
24563     9919.177076
24564     8446.566287
Name: price_per_sqft, Length: 24565, dtype: float64

In [11]:
data.describe()

              price         baths      bedrooms    Total_Area  price_per_sqft
count  2.456500e+04  24565.000000  24565.000000  24565.000000    24565.000000
mean   3.649459e+07      4.823774      4.424588   3187.467047    10847.069287
std    3.632113e+07      1.455301      1.275251   2522.707951     2903.874504
min    4.500000e+06      1.000000      1.000000    545.000000     8080.133556
25%    1.400000e+07      4.000000      3.000000   1361.000000     8815.426997
50%    2.400000e+07      5.000000      4.000000   2723.000000     9756.657484
75%    4.750000e+07      6.000000      5.000000   5445.000000    11937.557392
max    4.500000e+08     12.000000     13.000000  21780.000000    22000.000000

In [12]:
(data['Total_Area']/data['bedrooms']).describe()

count    24565.000000
mean       689.973145
std        440.403186
min         74.272727
25%        453.666667
50%        544.600000
75%        907.500000
max       7260.000000
dtype: float64

In [13]:
data= data[((data['Total_Area']/data['bedrooms'])>=600)]
data.describe()

              price         baths      bedrooms    Total_Area  price_per_sqft
count  1.120000e+04  11200.000000  11200.000000  11200.000000    11200.000000
mean   5.898557e+07      5.284643      4.729464   4968.737768    11483.814177
std    4.309913e+07      1.383205      1.148119   2741.334488     3309.076891
min    7.000000e+06      1.000000      1.000000    817.000000     8080.808081
25%    3.050000e+07      4.000000      4.000000   2723.000000     8999.081726
50%    4.900000e+07      5.000000      5.000000   5445.000000    10220.088947
75%    6.750000e+07      6.000000      5.000000   5445.000000    12855.831038
max    4.500000e+08     12.000000     11.000000  21780.000000    21946.740129

In [14]:
data.shape

(11200, 6)

In [15]:
data.head()

       price        city  baths  bedrooms  Total_Area  price_per_sqft
0   45000000  Faisalabad      6         5        5445     8264.462810
2   25000000  Faisalabad      5         4        2723     9181.050312
8   35000000  Faisalabad      5         5        3812     9181.532004
11  33000000  Faisalabad      5         5        3812     8656.873033
13  25000000  Faisalabad      6         4        2723     9181.050312

In [16]:
data.drop(columns=['price_per_sqft'],inplace=True)

In [17]:
data.head()

       price        city  baths  bedrooms  Total_Area
0   45000000  Faisalabad      6         5        5445
2   25000000  Faisalabad      5         4        2723
8   35000000  Faisalabad      5         5        3812
11  33000000  Faisalabad      5         5        3812
13  25000000  Faisalabad      6         4        2723

In [18]:
data.to_csv("cleaned_Data.csv")

In [19]:
X=data.drop(columns=['price'])
y=data['price']

In [20]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression,Ridge
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline
from sklearn.metrics import r2_score

In [21]:
X_train,X_test,y_train,y_test = train_test_split(X,y, test_size=0.2, random_state=0)

In [22]:
print(X_train.shape)
print(X_test.shape)

(8960, 4)
(2240, 4)

In [23]:
column_trans = make_column_transformer((OneHotEncoder(sparse=False), ['city']), remainder='passthrough')
scaler = StandardScaler()
lr = LinearRegression(normalize=True)
pipe = make_pipeline(column_trans,scaler, lr)
pipe.fit(X_train,y_train)
y_pred_lr = pipe.predict(X_test)
r2_score(y_test, y_pred_lr)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_base.py:145: FutureWarning: 'normalize' was deprecated in version 1.0 and will be removed in 1.2.
If you wish to scale the data, use Pipeline with a StandardScaler in a preprocessing stage. To reproduce the previous behavior:

from sklearn.pipeline import make_pipeline

model = make_pipeline(StandardScaler(with_mean=False), LinearRegression())

If you wish to pass a sample_weight parameter, you need to pass it as a fit parameter to each step of the pipeline as follows:

kwargs = {s[0] + '__sample_weight': sample_weight for s in model.steps}
model.fit(X, y, **kwargs)


  FutureWarning,

0.8306033672746502

In [24]:
ridge = Ridge()
pipe = make_pipeline(column_trans,scaler, ridge)
pipe.fit(X_train,y_train)
y_pred_ridge = pipe.predict(X_test)
r2_score(y_test, y_pred_ridge)

0.8306469031623812

In [25]:
print('Ridge:',r2_score(y_test, y_pred_ridge))

Ridge: 0.8306469031623812

In [26]:
import pickle

In [27]:
pickle.dump(pipe, open('RidgeModel.PKR','wb'))